* {
  font-family: 'Roboto';
}
.main-details-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 35px;
  height: 100vh;
}
.detail-card-container {
  height: 500px;
  width: 70%;
  box-shadow: 1px 4px 16px 2px #bfbfbf;
  display: flex;
  flex-direction: row;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.detail-image {
  height: 100%;
}
.details-container {
  padding: 25px;
}
.detail-heading {
  color: #1e293b;
}
.detail-para {
  color: #475569;
  font-size: 25px;
  line-height: 40px;
}
