.website-logo-image {
  height: 55px;
}
.nav-bar-container {
  background-color: #e8e8e8;
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 55px;
}
